In [2]:
import pandas as pd
import numpy as np
import seaborn as sn 
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv("datasets/Superstore.csv")

In [4]:
data.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit',
       'Unnamed: 21'],
      dtype='object')

In [5]:
data.columns = data.columns.str.replace(" ", "_").str.replace("-", "")

In [6]:
data.columns

Index(['Row_ID', 'Order_ID', 'Order_Date', 'Ship_Date', 'Ship_Mode',
       'Customer_ID', 'Customer_Name', 'Segment', 'Country', 'City', 'State',
       'Postal_Code', 'Region', 'Product_ID', 'Category', 'SubCategory',
       'Product_Name', 'Sales', 'Quantity', 'Discount', 'Profit',
       'Unnamed:_21'],
      dtype='object')

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row_ID         9994 non-null   int64
 1   Order_ID       9994 non-null   object
 2   Order_Date     9994 non-null   object
 3   Ship_Date      9994 non-null   object
 4   Ship_Mode      9994 non-null   object
 5   Customer_ID    9994 non-null   object
 6   Customer_Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal_Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product_ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  SubCategory    9994 non-null   object
 16  Product_Name   9994 non-null   object
 17  Sales          9994 non-null   object
 18  Quantity       9994 non-null   float64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
 21  Unnamed:_21    6 non-null      float64
dtypes: float64(4), int64(2), object(16)
memory usage: 1.7+ MB

In [8]:
data.shape

(9994, 22)

In [9]:
data[['Sales', 'Profit']].describe()

            Profit
count  9994.000000
mean     28.616097
std     234.258359
min   -6599.978000
25%       1.724800
50%       8.635600
75%      29.321800
max    8399.976000

In [10]:
data['Category'].value_counts()

Category
Office Supplies    6026
Furniture          2121
Technology         1847
Name: count, dtype: int64

In [11]:
data["SubCategory"].value_counts()

SubCategory
Binders        1523
Paper          1370
Furnishings     957
Phones          889
Storage         846
Art             796
Accessories     775
Chairs          617
Appliances      466
Labels          364
Tables          319
Envelopes       254
Bookcases       228
Fasteners       217
Supplies        190
Machines        115
Copiers          68
Name: count, dtype: int64

In [12]:
data['Customer_ID'].nunique()

793

In [13]:
data['Sales'] = data['Sales'].fillna(0)

In [14]:
data["Sales"] = pd.to_numeric(data["Sales"], errors='coerce').fillna(0)

In [15]:
data.groupby('Region')['Sales'].sum()

Region
Central    500130.4428
East       678664.4560
South      391021.2010
West       725457.8245
Name: Sales, dtype: float64

In [16]:
data['Sales'].describe(include='object')

count     9994.000000
mean       229.665192
std        623.261168
min          0.000000
25%         17.220000
50%         54.320000
75%        209.769000
max      22638.480000
Name: Sales, dtype: float64

In [17]:
data.groupby('Category')['Profit'].min()

Category
Furniture         -1862.3124
Office Supplies   -3701.8928
Technology        -6599.9780
Name: Profit, dtype: float64

In [18]:
data.groupby('Category')['Profit'].mean()

Category
Furniture           8.699327
Office Supplies    20.327050
Technology         78.531242
Name: Profit, dtype: float64

In [21]:
data.groupby('Discount')['Sales'].mean()

Discount
0.00    226.728478
0.10    578.397351
0.15    529.971567
0.20    208.915496
0.30    454.742974
0.32    536.794770
0.40    565.134874
0.45    498.634000
0.50    892.705152
0.60     48.150000
0.70     97.177708
0.80     56.545853
2.00      0.000000
4.00      0.000000
5.00      0.000000
7.00      0.000000
Name: Sales, dtype: float64

In [24]:
data.groupby('Ship_Mode')['Profit'].mean()

Ship_Mode
First Class       31.825841
Same Day          29.266591
Second Class      29.496245
Standard Class    27.442892
Name: Profit, dtype: float64

In [27]:
data.groupby('Segment')['Order_ID'].count()

Segment
Consumer       5191
Corporate      3020
Home Office    1783
Name: Order_ID, dtype: int64

In [29]:
data[['Sales', 'Profit', 'Quantity', 'Discount']].corr()

             Sales    Profit  Quantity  Discount
Sales     1.000000  0.479060  0.044328 -0.028247
Profit    0.479060  1.000000  0.014616 -0.185239
Quantity  0.044328  0.014616  1.000000  0.528648
Discount -0.028247 -0.185239  0.528648  1.000000

In [31]:
data['Sales'].skew()

np.float64(12.972640520322651)

In [32]:
data[['Sales', 'Profit']].cov()

                Sales        Profit
Sales   388454.483030  69944.748316
Profit   69944.748316  54876.978870

In [34]:
data.groupby('Product_Name')['Sales'].sum().nlargest(10)

Product_Name
Canon imageCLASS 2200 Advanced Copier                                          61599.824
Fellowes PB500 Electric Punch Plastic Comb Binding Machine with Manual Bind    27453.384
Cisco TelePresence System EX90 Videoconferencing Unit                          22638.480
HON 5400 Series Task Chairs for Big and Tall                                   21870.576
GBC DocuBind TL300 Electric Binding System                                     19823.479
GBC Ibimaster 500 Manual ProClick Binding System                               19024.500
Hewlett Packard LaserJet 3310 Copier                                           18839.686
HP Designjet T520 Inkjet Large Format Printer - 24" Color                      18374.895
GBC DocuBind P400 Electric Binding System                                      17965.068
High Speed Automatic Electric Letter Opener                                    17030.312
Name: Sales, dtype: float64

In [37]:
data[data['Profit'] < 0].groupby('Product_Name')['Order_ID'].count()

Product_Name
12-1/2 Diameter Round Wall Clock                     3
2300 Heavy-Duty Transfer File Systems by Perma       2
3.6 Cubic Foot Counter Height Office Refrigerator    3
36X48 HARDFLOOR CHAIRMAT                             3
3D Systems Cube Printer, 2nd Generation, White       1
                                                    ..
Zipper Ring Binder Pockets                           6
i.Sound Portable Power - 8000 mAh                    3
iHome FM Clock Radio with Lightning Dock             1
iOttie HLCRIO102 Car Mount                           3
iOttie XL Car Mount                                  2
Name: Order_ID, Length: 766, dtype: int64

In [39]:
data.groupby('State')['Profit'].sum()

State
Alabama                  5786.8253
Arizona                 -3427.9246
Arkansas                 4008.6871
California              76381.3871
Colorado                -6527.8579
Connecticut              3511.4918
Delaware                 9977.3748
District of Columbia     1059.5893
Florida                 -3399.3017
Georgia                 16250.0433
Idaho                     826.7231
Illinois               -12760.7660
Indiana                 18382.9363
Iowa                     1183.8119
Kansas                    836.4435
Kentucky                11199.6966
Louisiana                2196.1023
Maine                     454.4862
Maryland                 7031.1788
Massachusetts            6785.5016
Michigan                24463.1876
Minnesota               10823.1874
Mississippi              3172.9762
Missouri                 6436.2105
Montana                  1833.3285
Nebraska                 2037.0942
Nevada                   3316.7659
New Hampshire            1706.5028
New Jersey               9772.9138
New Mexico               1157.1161
New York                74038.5486
North Carolina          -7621.8942
North Dakota              230.1497
Ohio                   -16971.3766
Oklahoma                 4751.7700
Oregon                  -1190.4705
Pennsylvania           -15581.6573
Rhode Island             7285.6293
South Carolina           1769.0566
South Dakota              394.8283
Tennessee               -5341.6936
Texas                  -25729.3563
Utah                     2546.5335
Vermont                  2244.9783
Virginia                18597.9504
Washington              33402.6517
West Virginia             185.9216
Wisconsin                8401.8004
Wyoming                   100.1960
Name: Profit, dtype: float64

In [41]:
data.groupby('Customer_ID')['Order_ID'].count().nlargest(5)

Customer_ID
WB-21850    37
JL-15835    34
MA-17560    34
PP-18955    34
CK-12205    32
Name: Order_ID, dtype: int64

In [43]:
data['Discount'].value_counts()

Discount
0.00    4797
0.20    3652
0.70     418
0.80     300
0.30     227
0.40     206
0.60     138
0.10      94
0.50      66
0.15      52
0.32      27
0.45      11
7.00       3
5.00       1
2.00       1
4.00       1
Name: count, dtype: int64

In [45]:
data.groupby('Region')['Quantity'].sum()

Region
Central     9871.448
East       10732.784
South       6897.704
West       12266.000
Name: Quantity, dtype: float64